.alert-div {
    color: red; 
    margin-top: 10px;
}

.on-close-button{
margin-right: 10px;
}

.form-container{
    gap: 10px;
}

.form-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}